.main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.main-container{
    display: flex;
    
}

.card-container{
    width: 300px;
    box-shadow: 4px 4px 8px gray;
    padding: 20px;
}
.cart{
    width: 300px;
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
}
.cart-img{
    width: 100px;
}
.cart-footer{
    display: flex;
    justify-content: space-around;
}
.cart-title{
    display: flex;
    justify-content: space-around;
}
.cart-info-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.delete-btn{
    padding: 10px;
}